---
name: Docker Release

on:
  workflow_dispatch:
    inputs:
      release_tag:
        required: true
        type: string
        description: the release tag
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set release version for manual triggers
        if: "! startsWith(github.ref, 'refs/tags/')"
        run: echo "IMAGE_VERSION=${{ github.event.inputs.release_tag }}" >> $GITHUB_ENV

      - name: Set release version for tag events
        if: startsWith(github.ref, 'refs/tags/')
        run: echo "IMAGE_VERSION=${{ github.ref_name }}" >> $GITHUB_ENV


      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: |
            ghcr.io/selbetar/askfmArchiver:latest
            ghcr.io/selbetar/askfmArchiver:${{ env.IMAGE_VERSION }}
